@using CabukHemenSimdiIzle.Domain.Enums;
@model List<MovieViewModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Watch Films</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">

    <!-- Import a modern and artistic font from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap">

    <style>
        body {
            background-color: #121212; /* Dark theme background */
            color: #fff;
        }

        .navbar {
            background-color: #1a1a1a; /* Navbar background color */
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .navbar-brand {
            color: #fff;
            font-size: 30px;
        }

        .navbar-nav {
            font-size: 23px;
            margin-left: 400px;
        }

        .navbar-text {
            font-size: 18px;
            color: #fff;
            margin-right: 110px;
            margin-left: 10px;
        }

        .film-card-container {
            display: flex;
            flex-direction: row-reverse; /* List items from right to left */
            flex-wrap: wrap;
            justify-content: center;
        }

        .film-card {
            background-color: #333; /* Card background color */
            margin: 10px;
            transition: transform 0.3s ease-in-out;
            flex: 0 0 calc(33.3333% - 20px); /* Responsive width, adjust as needed */
            max-width: calc(33.3333% - 20px); /* Responsive width, adjust as needed */
            border: 1px solid #444;
            border-radius: 8px;
            overflow: hidden;
        }

            .film-card:hover {
                transform: scale(1.1) perspective(2000px) rotateZ(360deg);
            }

            .film-card img {
                max-width: 100%;
                height: auto;
            }

            .film-card a {
                text-decoration: none; /* Link without underline */
                color: #LightGray; /* Link color */
            }

                .film-card a:hover {
                    color: #fff; /* Change color on hover */
                }

            .film-card .card-title {
                font-size: 28px; /* Font size */
                font-family: 'Raleway', sans-serif; /* Modern and artistic font */
                color: #LightGray;
                text-align: center; /* Center-align the text */
                margin: 10px 0; /* Add margin for better spacing */
            }

            .film-card .card-body {
                padding: 15px;
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">CabukHemenFilmİzle</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="genreDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Genre
                        </button>
                        <div class="dropdown-menu" aria-labelledby="genreDropdownButton">
                            @foreach (var genre in Enum.GetValues(typeof(Genre)))
                            {
                                <a class="dropdown-item" asp-controller="Home" asp-action="MovieGenre" asp-route-genre="@genre.ToString()">@genre.ToString()</a>

                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="LatestMovie"><span class="navbar-text">Latest Releases</span></a>
                    </li>

                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Auth" class="nav-link">My Accounts</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Logout" asp-controller="Auth" class="nav-link">Log Out</a>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Auth">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Register" asp-controller="Auth">Register</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </header>
   

    <!-- Film Cards -->
    <div class="container-fluid">
        <div class="film-card-container">
            @foreach (var movie in Model)
            {
                <div class="card film-card">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@movie.Id">
                        <img src="@movie.PictureUrl" class="card-img-top" alt="@movie.Title">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>